*{
    box-sizing: border-box;
}
.nav1{
    background-color: black;
    color: white;
    display: inline-flex;
    height: 3em;
    padding-top: 1em;
    width: 100%;
}
.nav1 div{
    width: 17%;
    margin-left: 2%;
}
.lateral{
    background-color: black;
    color: white;
    float: left;
    width: 20%;
    height: 100%;
    margin-top: 5%;
}
img{
    width: 200px;
}